*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }
.esercizio{
    margin: 30px;
}

.green{
    background-color: green;
}

.blue {
    background-color: blue;
    height: 50px;
    border: 1px solid white;
    display: inline-block;

}
.green{
    background-color: rgb(58, 206, 58);
    height: 35px;
    border: 1px solid white;
    display: inline-block;

}


p{
    text-align: center;
    color: white;
}

  